
/*This is the extended css for aboutme.html.*/

.extension1-1{
	width: 46%;
	height: 100%;
	float: left;
	display: inline-block;
	margin: 15px 10px 20px 30px;
}	
.extension1-2{
	width: 45%;
	height: 100%;
	display: inline;
	float: left;
	margin: 20px 20px 20px 10px;
}
.img img{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 130px;
    height: auto;
    padding: 0
}	

.img img:hover {
    border: 1px solid #777;
}

.segment1 h2,p{
	margin: 15px 35px 10px 15px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
}